a:hover {
    background: rgba(128, 128, 128, 0.5);
    text-decoration: underline;
}
footer td:hover {
    background: rgba(128, 128, 128, 0.5);
}
@media screen and (max-width: 900px) {
    footer span, nav span{
        display: none;
    }
    aside {
        height: 60px;
    }
    nav {
        flex-direction: row;
    }
    article {
        height: calc(100% - 60px);
    }
    aside, article {
        width: 100%;
    }
    fieldset {
        left: 0px;
        width: 100%;
    }
}
@media screen and (min-width: 1000px) {
    fieldset {
        left: calc(50% - 360px);
        width: 720px;
    }
}