/* 기본 색상 설정 */

/* 기본 레이아웃 */

*::-webkit-scrollbar-thumb {
    background: cyan;
    border: none;
}

body {
    color: white;
    background-color: #141414;
}

/* 단락 */

h1, h2, h3, h4 {
    color: #9393FFCC
}

p {
    color: #636363
}

a, [type=button], [type=submit] {
    color: white;
    background-color: #6262F5;
}

/* 입력 요소 */

textarea, input, select {
    color: cyan;
}

textarea {
    border: 1px solid white;
}

option {
    color: black;
}

/* 내부 컴포넌트 스타일 */

.handlerX {
    background-color: #8080804d;
}

/* 내부 플레이리스트 컴포넌트 스타일 */

.playlist-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.playerButton:hover {
    background-color: #5a5aff;
}

.entry-item:hover {
    background: #2a2a2a;
}