body {
    color: white;
    background-color: #141414;
}

h1, h2, h3, h4 {
    color: #9393FFCC
}
p {
    color: #636363
}

*::-webkit-scrollbar-thumb {
    background: cyan;
    border: none;
}
textarea, input, select {
    color: cyan;
}
option {
    color: black;
}
textarea {
    border: 1px solid white;
}
a, [type=button], [type=submit] {
    color: white;
    background-color: #6262F5;
}

.handlerX {
    background-color: #8080804d;
}

.playlist-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.playerButton:hover {
    background-color: #5a5aff;
}

.entry-item:hover {
    background: #2a2a2a;
}