* {
    box-sizing: border-box;
    overflow-x: hidden;
    text-decoration: none;
}
*:not(textarea) {
    transition: 0.3s all;
}
*::-webkit-scrollbar {
    width: 8px;
    background: none;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    overscroll-behavior: contain;
}
fragment, footer {
    width: 100%;
}
fragment:not([rid=main]), main {
    height: calc(100vh - 40px);
    overflow-y: scroll;
}
fragment {
    display: block;
}
fragment[rid=page] {
    padding-left: 400px;
}
fragment[rid=menu] {
    transition: none;
    position: absolute;
    width: 0px;
    z-index: 2;
}
fragment[rid=menu][open] {
    width: 100%;
    max-width: 400px;
}
footer {
    height: 40px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
main, summary {
    display: none;
}

iframe, textarea, input {
    border: none;
}
textarea, input, a {
    cursor: pointer;
}
textarea {
    position: relative;
    z-index: 1;
    background: none;
}
input {
    background-color: initial;
    background-repeat: no-repeat;
}
[type="button"], [type="submit"] {
    border-radius: 30px;
}
:is(footer, #current-main) input {
    padding-left: 0px;
    background-size: 0px;
    background-position: 5px 10px;
}

@media screen and (max-width: 1000px) {
    fragment[rid=page] {
        padding-left: 0px;
    }
}
