*:not(details, iframe) {
    box-sizing: border-box;
    transition: 0.3s all;
}
*::-webkit-scrollbar {
    width: 10px;
    background: none;
}
html, body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
}
fragment, footer {
    width: 100%;
}
fragment[rid=page], main {
    height: calc(100% - 100px);
    overflow-x: hidden;
    overflow-y: scroll;
}
fragment {
    display: block;
}
footer {
    height: 50px;
    display: flex;
}
footer input {
    padding-top: 0px;
    width: 100%;
    height: 100%;
    background-size: 0px;
    background-repeat: no-repeat;
    background-position: center 10px;
}

details {
    position: absolute;
    top: 50px;
    overflow-x: hidden;
    width: 0px;
    height: calc(100% - 100px);
    z-index: 1;
    border-radius: 30px;
}
details > fragment {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
details[open] {
    width: 100%;
    max-width: 400px;
}
summary {
    display: none;
}

iframe {
    border: none;
}
fieldset {
    width: 70vw;
    margin-left: 15vw;
}
fieldset span {
    margin: 10px; 
    display: inline-block;
}
input {
    background-color: initial;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
}
[type=button], [type=submit] {
    border-radius: 30px;
}

span {
    line-height: 22px;
}
textarea {
    width: 100%;
    min-height: 450px;
    background: none;
    border: none;
    padding: 10px;
}
li {
    list-style: decimal-leading-zero;
    word-break: break-all;
    margin: 10px;
}
a {
    border-radius: 30px;
}
:is(a, .inputWidget, input[type=submit]):hover {
    background-color: rgba(0, 255, 255, 0.5);
    box-shadow: 10px 5px rgba(0, 200, 200, 0.5);
}

@media screen and (max-width: 1000px) {
    fieldset {
        margin-left: 0px;
        width: 100vw;
    }
}