*:not(li) {
    box-sizing: border-box;
    overflow-x: hidden;
    transition: 0.3s all;
    text-decoration: none;
}
*::-webkit-scrollbar {
    width: 8px;
    background: none;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    overscroll-behavior: contain;
}
fragment, footer, textarea {
    width: 100%;
}
fragment:not([rid=main]), main {
    height: calc(100vh - 40px);
    overflow-y: scroll;
}
fragment {
    display: block;
}
footer {
    height: 40px;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}
footer > div > input {
    width: 100%;
    height: 100%;
    padding-left: 0px;
    background-size: 0px;
    background-position: 5px 10px;
}
main, summary {
    display: none;
}

fragment[rid=menu] {
    transition: none;
    position: absolute;
    width: 0px;
    z-index: 2;
}
fragment[rid=menu][open] {
    width: 100%;
    max-width: 400px;
}
fieldset {
    width: 80vw;
    margin-left: 10vw;
}
fieldset span {
    margin: 10px; 
    display: inline-block;
}

iframe, textarea, input {
    border: none;
}
textarea {
    height: 450px;
    background: none;
    padding: 10px;
}
input {
    background-color: initial;
    background-repeat: no-repeat;
    cursor: pointer;
}
[type=button], [type=submit] {
    border-radius: 30px;
}

li {
    list-style: decimal-leading-zero;
    word-break: break-all;
    margin: 10px;
}
:is(a, .inputWidget, input[type=submit]):hover {
    background-color: rgba(0, 255, 255, 0.5);
    box-shadow: 10px 5px rgba(0, 200, 200, 0.5);
}

@media screen and (max-width: 1000px) {
    fieldset {
        margin-left: 0px;
        width: 100%;
    }
}
