@import url(/resource/css/bone.css);
@import url(/resource/css/styling.css);
@import url(/resource/css/widget.css);
*:not(details, iframe) {
    box-sizing: border-box;
    transition: 0.5s all;
}
html, body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
}