main {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    height: calc(100% - 70px);
}
article {
    overflow: hidden;

    width: calc(100% - 220px);
    height: 100%;
}
section {
    overflow-x: hidden;
    overflow-y: scroll;

    width: 100%;
    height: 100%;
}