/* YouTube TV */

/* Base Canvas */
.ytv-canvas {
	display: flex;
  	flex-direction: row;
	overflow: hidden;
	width: 100%;
  	height: 100%;
	font-family: arial, sans-serif;
}
.ytv-canvas ::-webkit-scrollbar-thumb{
	background: rgba(255,255,255,0.1);
}

/* Video */
.ytv-video{
	flex-grow: 1;
	width: calc(100% - 350px);
  	height: 100%;
}

/* List */
.ytv-list{
	width: 350px;
	padding: 8px;
  	overflow-y: auto;
}
.ytv-list ul {
  	margin: 0;
  	padding: 0;
  	list-style-type: none;
}

/* Header */
.ytv-list-header a {
	color: black;
	background: rgba(255,255,255,0.05);
	white-space: nowrap;
	position: relative;
	z-index: 10;
}
.ytv-list-header img {
	float: left;
	width: 30px;
	vertical-align: middle;
}

.ytv-list-header a span{
	white-space: nowrap;
	padding-left: 10px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 30px;
}

/* Modifiers */

.ytv-arrow {
	display: inline-block;
	position: relative;
	float: right;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.4);
	transition: transform 0.2s ease;
	transform: rotate(0deg);
	margin-left: 5px;
}

/* 열린 상태일 때: ▲ 회전으로 표현 */
.ytv-playlist-open .ytv-arrow {
	transform: rotate(180deg);
}

@media (max-width: 768px) {
	.ytv-canvas {
		flex-direction: column;
	}
	.ytv-relative {
		flex-direction: column;
	}
	.ytv-video {
		width: 100%;
		height: 50%;
	}
	.ytv-list {
		width: 100%;
		height: 100%;
	}
}