/* YOUTUBE TV LAYOUT */

/* Canvas 전체 프레임 */

.ytv-canvas {
	display: flex;
  	flex-direction: row;
	overflow: hidden;
	width: 100%;
  	height: 100%;
	font-family: arial, sans-serif;
}

.ytv-canvas ::-webkit-scrollbar-thumb{
	background: rgba(255,255,255,0.1);
}

/* 비디오 영역 */

.ytv-video{
	flex-grow: 1;
	width: calc(100% - 350px);
  	height: 100%;
}

/* 📃 리스트 영역 */

.ytv-list{
	width: 350px;
	padding: 8px;
  	overflow-y: auto;
}

.ytv-list ul {
  	margin: 0;
  	padding: 0;
  	list-style-type: none;
}

/* 🧭 헤더 영역 */

.ytv-list-header a {
	color: black;
	background: rgba(255,255,255,0.05);
	white-space: nowrap;
	position: relative;
	z-index: 10;
}

.ytv-list-header img {
	float: left;
	width: 30px;
}

.ytv-list-header a span{
	display: flex;
	align-items: center;
	overflow: hidden;
	padding-left: 10px;
	line-height: 30px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.playlist-title-label b {
	overflow: hidden;
	text-overflow: ellipsis;
}

/* 화살표 스타일 */

.ytv-arrow-triangle {
	margin-left: 5px;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-top: 11px solid rgba(0, 0, 0, 0.5);  /* 약간 진하게 */
	
	transform: rotate(180deg);
	transform-origin: center;
	transition: transform 0.2s ease;
}

.ytv-playlist-open .ytv-arrow-triangle {
	transform: rotate(0deg);
}

/* 반응형 대응 */

@media (max-width: 768px) {
	.ytv-canvas, .ytv-relative {
		flex-direction: column;
	}
	.ytv-video, .ytv-list {
		width: 100%;
	}
	.ytv-video {
		height: 50%;
	}
	.ytv-list {
		height: 100%;
	}
}