.current {
    background-size: 20px !important;
    padding-left: 20px !important;
}
.menuicon {
    width: 40px;
    height: 100%;
    background-image: url(/resource/img/icon/menu.png);
    background-position: center center;
    background-size: contain;
}
.chat {
    background: aliceblue;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 16px;
    word-break: break-all;
}
.chatGroup {
    float: right;
    display: flex;
}
.chatButton {
    width: 25px;
    height: 25px;
    background-position: center;
    background-size: 20px;
    margin-right: 8px;
}
.inputWidget {
    background-size: 22px;
    background-position: left center;
    padding-left: 25px;
    padding-right: 25px;
    margin: 10px;
    height: 30px;
}

#toast {
    position: absolute;
    top: 30%;
    text-align: center;
    width: 100%;
    padding: 20px;
    opacity: 0;
    background: red;
    z-index: -1;
}

.login_field {
    width: 60%;
    margin-left: calc(20% - 10px);
    margin-top: 10vh;
    padding: 20px;
    border: none;
}
.login_legend {
    display: inline-block;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}
.login_title {
    text-align: center;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 50px;
    margin-top: 10vh;
}
.login_input, .login_button_box {
    width: 300px;
    margin-left: calc(50% - 150px);
}
.login_input {
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    padding-left: 30px;
    background-size: 25px;
    background-position: 4px;
}
.login_button_box {
    display: flex;
    justify-content: space-around;
}
.login_button {
    cursor: pointer;
    width: 120px;
    height: 40px;
    margin-top: 20px;
    background: none;
    color: rgba(25, 110, 210);
    border: 1px solid rgba(25, 110, 210, 0.5);
    border-radius: 10px;
}
.login_input, .login_button {
    transition: all 0.4s;
}
.login_input:hover {
    box-shadow: rgba(0,0,0,0.5) 10px 6px
}
.login_button:hover {
    box-shadow: rgba(25, 125, 255, 0.5) 10px 6px
}

@media screen and (max-width: 440px) {
    .login_field {
        width: 100%;
        margin-left: 0px;
        padding: 0px;
    }
    .login_button_box {
        width: 100%;
        margin-left: 0px;
    }
    .login_input {
        width: 100%;
        margin-left: 0px;
    }
}