.current {
    background-size: 20px !important;
    padding-left: 20px !important;
}
.menuicon {
    width: 40px;
    height: 100%;
    background-image: url(/resource/img/icon/menu.png);
    background-position: center center;
    background-size: contain;
}
.inputWidget {
    background-size: 22px;
    background-position: left center; 
    padding-left: 25px;
    padding-right: 25px;
    margin: 10px;
    height: 30px;
}

#toast {
    position: absolute;
    top: 30%;
    text-align: center;
    width: 100%;
    padding: 20px;
    opacity: 0;
    background: red;
    z-index: -1;
}

div.clock {
    position: relative;
    top: 25px;
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-image: url(/resource/img/icon/clock-body.png);
    background-size: cover;
}
div.clock > div {
    transition: 0.5s all;
    transform-origin: bottom;
    position: relative;
    left: 50%;
    width: 0px;
    z-index: 1;
}
div.hour_pin {
    top: 30%;
    height: 20%;
}
div.minute_pin {
    height: 30%;
}
div.second_pin {
    top: -40%;
    height: 40%;
}
