/* html default styleseet */

*:not([in]) {
	background : black;
	border-color : cyan;
	color : cyan;
}
div {
	border : 1px solid cyan;
}

/* html property styleseet */

*[tier1] {
	color : #FE2E64;
}
a[tier1], p[tier1], input[tier1] {
	border-color : #FFFF00;
	color : #FFFF00 !important;
}
*[tier2] {
	color : #FFFF00;
}
a[tier2], p[tier2], input[tier2] {
	border-color : #FF8000;
	color : #FF8000 !important;
}
*[tier3] {
	color : #00FF00;
}
a[tier3], p[tier3], input[tier3] {
	border-color : #DF0101;
	color : #DF0101 !important;
}
*[tier4] {
	color : #00FFFF;
}
a[tier4], p[tier4], input[tier4] {
	border-color : #8A0808;
	color : #8A0808 !important;
}