input {
    background-color: initial;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
}
[type=button], [type=submit] {
    border-radius: 30px;
}

a {
    border-radius: 30px;
    color: cornflowerblue;
}
:is(a, .inputWidget, input[type=submit]):hover {
    background-color: rgba(0, 255, 255, 0.5);
    box-shadow: 10px 5px rgba(0, 200, 200, 0.5);
}
