*::-webkit-scrollbar-thumb {
    background: aquamarine;
    border: none;
}
body, fragment {
    background: black;
}
fragment, main, footer, textarea, input {
    color: cyan;
}
input::placeholder {
    color: rgba(0, 255, 255, 0.5);
}

a {
    color: aquamarine;
}

div.clock > div {
    border: 1px solid rgba(255,255,255,0.3);
}