*::-webkit-scrollbar-thumb {
    background: rgba(128,128,128,0.5);
    border: none;
}
fragment[rid=menu] {
    background: ghostwhite;
}

a {
    color: cornflowerblue;
}

div.clock > div {
    border: 1px solid rgba(0,0,0,0.3);
}