*::-webkit-scrollbar-thumb {
    background: rgba(128,128,128,0.5);
    border: none;
}
details {
    background-color: ghostwhite;
}

a {
    color: cornflowerblue;
}

div.hour_pin {
    border: 1px solid rgba(0,0,0,0.8);
}
div.minute_pin {
    border: 1px solid rgba(0,0,0,0.5);
}
div.second_pin {
    border: 1px solid rgba(0,0,0,0.2);
}